@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Open+Sans');
body {
	font-family: 'Open Sans'
	text-align: center;
	background-color: #E6C38D;
	color: #142A83;
	line-height: 2em
}
h1 {
	font-family: 'Dancing Script'; 
	font-weight: bold;
	font-size: 80px;
}
p1 {
	font-size: 20px;
}
p2 {
	font-size: 20px;
}
ul {
	font-size: 18px;
	text-align: center;
	list-style-type: none;
}
