@import url('https://fonts.googleapis.com/css?family=Kalam');
	text-align: center;
body {
	background-color: #E6C38D;
	font-family: 'Kalam", cursive;
	color: #142A83;
}
h1 {
	font-weight: bold;
	font-size: 56px;
}
#slogan {
	font-style: italic;
}
ul {
	text-align: center;
	list-style-type: none;
}
