@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
body {
	text-align: center;
	background-color: #E6C38D;
	font-family: 'Dancing Script', cursive;
	color: #142A83;
}
h1 {
	font-weight: bold;
	font-size: 56px;
}
ul {
	text-align: center;
	list-style-type: none;
}
