@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Open+Sans');
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans';
	text-align: center;
	background-color: rgb(75,19,103);
	color: white;
	line-height: 2em
}
nav {
  background-color: rgb(130,118,135);
}

a {
  background-color: rgb(94,16,132);
  color: white;
  text-decoration: none;
  display: block;
  padding: .10px;
}
nav a {
	float: left;
	width: 25%;
}
a:hover {
  background-color: #aaaaaa;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	height: 0;
	font-size: 0;
}
#logo {
	border-radius: 100%;
	height: 150px;
	width: 150px;
	background: white;
	overflow: hidden;
}
header {
	background-color: black;
	padding:20px;
}
h1 {
	font-family: 'Dancing Script'; 
	font-weight: bold;
	font-size: 3em;
	border: 10px 0;
	padding-bottom: 7px;
	background-color: black;
	text-align: right;
	line-height: 40px;
}
h2 {
	padding: 2px;
	text-align: center;
	text-transform: uppercase;
}
img {
	height: auto;
	width: 100%;
}
#main {
	display: flex;
	justify-content: flex-start;
	align-content: stretch;
	width: 66.666%;
	float: left;
}
#sidebar {
	width: 20%;
	float: right;
	font-size: 1em;
	padding: 1em;
}
.column {
	width: 33.333%;
	padding: 10px;
	border: 3pxs;
}
#column1 {
	background-color:rgb(94,16,132);
}
#column2 {
	background-color: black;
}
#column3 {
	background-color: rgb(94,16,132);
}
p {
	text-align: center;
	font-size: 1em;
	border: 10px;
}
ul {
	font-size: .5em;
	text-align: center;
	list-style-type: none;
	line-height: 20px;
}
footer {
	text-align: center;
	padding: 10px;
	clear: both;
}

@media only screen and (max-width: 800px) {
  .main {
    font-size: 1.4em;
    line-height: 1.8em;
  }
}
@media only screen and (max-width: 500px) {
  h1, nav {
    display: block;
    text-align: center;
  }
  section, div {
    width: 100%;
    padding: .6em;
  }
  .main {
    float: none;
    font-size: 1.4em;
  }
  h2 {
    font-size: 1em;
    display: inline;
  }
}



