body {
	background-color: #E6C38D;
}
body {
	text-align: center;
	font-family: "Courier New", monospace;
}
h1 {
	font-weight: bold;
	font-size: 76px;
}
#slogan {
	font-style: italic;
}
ul {
	text-align: center;
	list-style-type: none;
}
